body,html{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#app{
	text-align: center;
	margin: 0 auto;
}

.music-card{
	width: 200px;
	margin: 15px;
}

.music-card .text{
	text-align: left;
}

.music-card .image{
	color: #fff;
	width: 100%;
	padding: 0;
}
.music-card .image img{
	display: block;
	width: 100%;
}

.music-card .description{
	padding: 5px;
}
.music-card .description p{
	margin: 0;
	text-align: left;
}
.music-card .description .music_title{
	font-size: 1rem;	
}
.music-card .description .music_artist{
	color: #676767;
	font-size: 1rem;
}

.music-card:hover{
	cursor: pointer;
}

.card-shadow{
	box-shadow: 1px 1px 10px black,-1px -1px 10px black;
}