body,html{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.tabs{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1000;
}
.tabs .tab{
	list-style: none;
	text-align: center;
	padding: 10px 30px;
	width: 33.333%;
	letter-spacing: 2px;
	transition: 0.2s;
}
.tabs .tab.active{
	background-color: #212121;
	color: white;
}
.tabs .tab:hover{
	background-color: #212121;
	color: white;
	cursor: pointer;
}

.music_accept_list{
	width: 100%;
}
.music_accept_list .music_item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 5%;
}
.music_accept_list .music_item .title{
	font-size: 1.3rem;
	width: 100%;
	margin: 0;
	margin-right: auto;
	padding: 1% 3%;
}
.music_accept_list .music_item:nth-child(odd){
	background-color: #fafafa;
}
.music_accept_list .music_item:nth-child(even){
	background-color: #EBEBEB;
}